<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZ6AhuIzhSLs9NGChH3gsIaXuoNY2zL5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>641791582658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.vsanth.UK-Parliament</string>
	<key>PROJECT_ID</key>
	<string>uk-parliament</string>
	<key>STORAGE_BUCKET</key>
	<string>uk-parliament.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641791582658:ios:2626b95745d3678f21365b</string>
</dict>
</plist>